<div id="title">
	Многочлены Эрмита.Краткая теория
</div>
<div id = "app">
	<p><b>ногочлены Эрмита</b> — определённого вида последовательность многочленов одной вещественной переменной. Многочлены Эрмита возникают в теории вероятностей, в комбинаторике, физике.</p>
	<b>Определение</b><br>
	<p>В теории вероятностей полиномы Эрмита обычно определяются выражением:</p>
	<p><center><img class="tex" alt="H_n^\mathrm{math}(x)=(-1)^n e^{x^2/2}\frac{d^n}{dx^n}e^{-x^2/2}\,\!" src="//upload.wikimedia.org/wikipedia/ru/math/f/6/0/f6081ef12c54d7d53e7e78f05d843b98.png"></center></p>
	<p>Рекуррентное соотношение между тремя последовательными многочленами:</p>
	<p><img class="tex" alt="H_n(x)-xH_{n-1}(x)+(n-1)H_{n-2}(x)=0~,~~ n \ge 2" src="//upload.wikimedia.org/wikipedia/ru/math/e/1/5/e15843b37c4965f023870180be1152b7.png"></p>
	<p><%= link_to 'Вернуться и построить графики', :back %></p>
</div>